.header
  .header-left
    %input{type: "text", class: "header-left__serch", placeholder: "What title?"}
    %input{type: "submit", class: "header-left__btn", value:"serch"}
  .header-right
    - if user_signed_in?
      = link_to "Logout", destroy_user_session_path, method: :delete, class: "header-right__btn"
    - else
      = link_to "Login", new_user_session_path, class: "header-right__btn"
      = link_to "Sign up", new_user_registration_path, class: "header-right__btn"
.main-content
  - @posts.each do |post|
    .main-content-image{style: "background-image: url(#{post.image});"}