.content {
  padding: 7vh 50px;

  &-image {
    box-sizing: border-box;
    padding: 5px;
    height: 80vh;
    width: 60%;
    float: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}