.content {
  height: 40vh;
  width: 40vw;
  margin-left: 30px;
  position: relative;

  &-title {
    border-bottom: solid 1px rgb(179, 179, 179);
  }
  &-text{
    border-bottom: solid 1px rgb(179, 179, 179);
    height: 130px;
    overflow: scroll;
  }
  &-like {
    width: 100%;
    position: absolute;
    top: 20vh;
  }
  &-comment {
    width: 100%;
    position: absolute;
    bottom: 0;

    
    &-fild {
      width: 80%;
    }
  }
}

.image {
  position: absolute;
  top: 11vh;
  right: 30px;
  box-sizing: border-box;
  padding: 5px;
  height: 630px;
  width: 630px;
  float: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.comments {
  width: 40%;
  height: 46vh;
  border: solid gray 1px;
  margin-left: 30px;

  .comment-list {
    overflow: scroll;
}
}
.delete {
  width: 15%;
  background-color: skyblue;
  margin-top: 10px;
  text-align: center;
  border-radius: 20%;
  margin-left: 40px;
}
a{
  color: rgb(235, 235, 235);
  text-decoration: none;
  font-size: 20px;
}